.insight-section {
  display: flex;
  flex-wrap: wrap;
}

.insight {
  margin: 20px;
  box-shadow: 0px 3px 6px #00000029;
  width: 28%;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  opacity: 1;
  padding: 40px 20px;
}

.ins-title {
  color: #606060;
  font-size: 20px;
  margin-bottom: 20px;
}

.total-per {
  color: #606060;
  font-size: 18px;
}

.percent {
  font-size: 11px;
  padding-left: 15px;
}

.ins-btn {
  margin-top: 10px;
  padding: 8px 30px;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 14px;
  width: 160px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .insight {
    width: 73%;
    padding: 20px 0px;
  }

  .company{
    padding-left: 20px;
  }
}
