.insight-wrapper{
    background-color: #F7F7F7;
    /* width: 100%; */
    padding: 0px 50px;
}

.button-wrapper{
    /* width: 90vw; */
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.company{
    font-size: 18px;
    font-weight: bold;
    color: #606060;;
}
/* 
#date{} */


@media only screen and (max-width: 600px) {

    .insight-wrapper{
        padding: 0px;
    }
    
    .button-wrapper{
        width: 84vw;    }
  }