.custom-card{
    width: 23%;
    text-align: center;
    box-shadow: 0px 0px 20px #00000017;
    padding: 20px 30px;
    background-color: white;
    margin: 15px 5px;
}

.custom-text{
    color: #6DBCDB;
    font-size: 11px;
    text-transform: uppercase;

}

.custom-price{
    margin-top: 37px;
    font-size: 20px;
}


@media only screen and (max-width: 600px) {
    .custom-card{
        width: 47%;
        text-align: center;
        box-shadow: 0px 0px 20px #00000017;
        padding: 20px 30px;
        background-color: white;
        margin: 15px 5px;
    }
}